@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,9,121,1) 62%, rgba(186,0,255,1) 100%);
}

.container {
    position: relative;
    margin-top: 4%;
    width: 70vw;
    height: 80vh;
    background-color: #070604;
    border-radius: 20px;
    opacity: 70%;
}

/* NAVBAR  */

.navbar-items {
    display: flex;
    width: 80%;
    border-bottom: 1px solid white;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-left: 20%;
}

.navbar-items a {
    font-family: 'Bebas Neue';
    text-decoration: none;
}

/* SEÇÃO DA ESQUERDA */

.left_section {
    position: absolute;
    border-right: 1px solid white;
    width: 20%;
    height: 100%;
    margin-top: -2.3rem;
}

.profile-picture {
    border-radius: 50%;
    width: 60%;
    margin-top: 4rem;
    margin-left: 3rem;
}

.left_section h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    font-size: 24px;
    margin-left: 4rem;
    margin-top: 1rem;
}

/* IMAGENS DA SEÇÃO ESQUERDA */

.grad-images {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 3rem;
    margin-top: 3rem;
    margin-left: 1rem;
}

.grad-images img{
    width: 3rem;
    height: 3rem;
}

/* MESSAGE LEFT SECTION */

.message-left-section {
    margin-top: 2rem;
}

.message-left {
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    padding: 0px 1.5rem 0px 1.5rem;
}

/* SOCIAL MEDIA */

.social-media {
    margin-top: 3rem;
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.social-media img{
    width: 3rem;
    height: 3rem;
}

/* FOOTER */

footer {
    color: #fff;
    margin-top: 2rem;
}

footer span {
    color: #f00;
}

/* ABOUT */

.container-about, .container-contact, .container-projects {
    width: 80%;
    margin-left: 20%;
}

.container-about p {
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    margin: 2rem 2rem 0 2rem;
}

.text-curriculum-center {
    display: flex;
    justify-content: center;
}

.pdf-curriculum {
    margin-top: 1rem;
    height: 29rem;
}

/* CONTACT */

.label {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.3rem;
}

.input::placeholder, .textarea::placeholder, .button {
    color: purple;
    font-family: 'Bebas Neue', sans-serif;
}

/* PROJECTS */

.container-gallery {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
}
.gallery-items{
    width: 16rem;
    height: 11rem;
    border: 5px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform 0.1s linear;
}
.gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-items:hover {
    transform: scale(1.1);
}